
@{  ViewData["Title"] = "Biz Kimiz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Main -->
<body>
    <div id="main" class="alt">

        <!-- One -->
        <section id="one">
            <div class="inner">
                <header class="major">
                    <h1>Techno-Club Nedir ?Kimler Tarafından Kuruldu?</h1>
                </header>
                <span class="image main"><img src="images/pic11.jpg" alt="" /></span>
                <p>Techno-Club Düzce Üniversitesi Bilgisayar Mühendisliği öğrencileri Gülnur PARLAK ve Merve KÖSEOĞLU tarafından 25.11.2021 tarihinde kuruldu.</p>
                <h3>Gülnur PARLAK Kimdir?</h3><br />
                <p>01.05.2000 İstanbul'un Ümraniye ilçesinde doğdum.Aslen Sivas'lıyım.Lise eğitimimi Üsküdar Cumhuriyet Mesleki ve Teknik Anadolu Lisesinde tamamladım.Lisans eğitimime Düzce Üniversitesi Teknoloji Fakültesi Bilgisayar Mühendisliğinde 3.sınıf öğrencisi olarak devam etmekteyim.</p>
                <h3>Merve KÖSEOĞLU Kimdir?</h3><br />
                <p>25.01.1999 Bilecik'in Söğüt ilçesinde doğdum. Lise eğitimimi Söğüt Anadolu Lisesinde tamamladım. Lisans eğitimime Kıbrıs Lefke Avrupa Üniversitesinde başladım. Hazırlık eğitimi ve bir yıllık Bilgisayar Mühendisliği eğitiminden sonra Düzce Üniversitesi Teknoloji Fakültesi Bilgisayar Mühendisliğine yatay geçiş ile kabul edildim. Eğitimime 3.sınıf öğrencisi olarak devam etmekteyim.</p>
            </div>
        </section>

    </div>
</body>