
@{
    ViewData["Title"] = "Siber İstihbarat nedir? Şirketinizdeki Casusu Engelleyin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Main -->
<div id="main" class="alt">

    <!-- One -->
    <section id="one">
        <div class="inner">
            <header class="major">
                <h3>Siber İstihbarat nedir? Şirketinizdeki Casusu Engelleyin</h3>
            </header>
            <span class="image main">
                <img src="~/images/blog4.jpg" />
            </span>
            <p>Siber istihbarat, şirketlerin elektronik ortamdan gelebilecek saldırı risklerini ortaya çıkararak, bu saldırılardan nasıl korunulacağını belirlemek için yapılan faaliyetlerin tamamına verilen isimdir.</p>
            <p>Dijitalleşmenin getirdiği kolaylıklar nedeniyle hemen hemen gündelik hayattaki tüm faaliyetler bir şekilde online ortam ile bağlantılı durumdadır. İnternetsiz bir hayatı bile hayal etmek neredeyse imkânsızdır. İnternet kullanımı bireysel kullanımın çok ötesine geçerek özel şirketlerden devlet kurumlarına kadar tüm iş alanlarına yayılmış durumdadır. Dolayısıyla internet ile bağlantısı olan tüm bu kişi, şirket ve kurumlar siber tehditlere açık hale gelmektedir.</p>
            <p>Dünyanın çeşitli yerlerinde farklı araçlar kullanılarak suç işlenebildiği gibi sanal ortamda da uygun araçlar ile suç işlemek mümkündür. Hatta suç işlemeye meyilli kişiler gerçek hayatta yakalanma korkusu ve ceza alma endişesi ile çok defa suç işlemekten uzak dururken internette durum bunun tersidir. İnternetin getirdiği gizlilik sayesinde yakalanma riski nispeten az olduğundan kötü niyetli bu kişiler çok rahatlıkla suç işlemeye cesaret edebilirler. Suçluların en sık işlediği suçların başında ise siber saldırılar gelmektedir.</p>
            <b>
                Siber Saldırı Nedir?
            </b>
            <p>Bilişim suçları sadece kişilerin gizliliğini ihlal etmekle kalmaz aynı zamanda şirketlerin kurumsal bilgilerini ve altyapılarını da tehdit eder. Halk arasında hacker olarak bilinen internet korsanları kimi zaman güvenlik açıklarından faydalanarak kimi zamansa çeşitli zararlı yazılımları kullanarak şirketlerin networklerine sızarlar. Bu sızmalar ve girişimler şirketin faaliyet alanına göre bilgi hırsızlığından banka hesaplarının ele geçirilmesine, sistemin yavaşlatılarak zarar verilmesinden güvenlik açıklarını halka göstererek korku yaymaya kadar çok çeşitli amaçlarla yapılabilir.</p>
            <br />
            
            <p>
                Çeşitli amaçlarla farklı yöntemler kullanılarak yapılabilen bu zararlı faaliyetlere genel olarak siber saldırı adı verilmektedir. Siber saldırılar için bazen bir güvenlik açığının tespit edilmesi yeterli iken bazen bir virüs programının kullanılması gerekir. Kimi zaman çeşitli elektronik cihazların kullanımını da içeren siber saldırılar çeşitli amaçlarla gerçekleştirilebilir.

                Siber saldırılar amaçlarına göre çok farklı yöntemler kullanarak gerçekleştirilebilir. Bu yöntemlerden ilki DDoS (Distributed Denial of Service) denilen web sitesinin hizmet vermesini engellemeyi amaçlayan yöntemdir. Bu yöntemde web sitesine çok sayıda bilgisayardan aynı anda istek (request) gönderilerek cevap (response) talep edilir. Bu isteklerin sayısı web sitesinin bağlı bulunduğu sunucunun karşılayabileceği değeri aştığından site çöker ve hizmet veremez duruma gelir.
            </p>
            <br />
            <p>
                Cryptojacking’te DDoS yönteminde kullanıldığı gibi ele geçirilen bilgisayarlar başka bilgisayarlara request göndermek için değil arka planda kripto para madenciliği için kullanılır. Bu yüzden işlem yapılmasa bile sürekli yoğun olarak kullanılan bilgisayarlar yavaşlar ve fanları devrede kalır.

                Malware kötü niyetli yazılımlara verilen genel isimdir. Virüsler kendi kendine bilgisayarınıza zarar verebilirken truva atı olarak bilinen trojanlar ise hackerların bilgisayarınızı uzaktan kontrol etmesine imkân sağlar. Bilgisayarlar uzaktan kontrol edilerek banka hesaplarınız boşaltılabilir, bilgileriniz çalınabilir hatta bazı durumlarda kişiler ifşa ile tehdit edilerek şantaj için bile kullanılabilir. Keylogger olarak bilinen yöntemde ise klavyede tıkladığınız tuşlar kaydedilerek kullanıcı adı ve şifreniz ele geçirilerek hesaplarınızdan para çalmak amaçlanır. Ransomware olarak bilinen yöntemde ise bilgisayarınızdaki verilere şifre konarak erişiminiz engellenir. Şifrenin kilidini açmak için ise bitcoin gibi nispeten takip edilemeyen para birimleri ile fidye istenir.
            </p>
           
            <p>
                Oltalama ya da phishing yönteminde ise kişilerin gerçek web sitelerinin kopyasına girmesi sağlanır. Böylece kişiye ait banka, kart bilgileri, önemli kimlik bilgileri gibi bilgiler elde edilerek dolandırmak amaçlanır. Bu yöntemde benzerleri yapılan siteler genelde bankaların ve çeşitli finans kurumlarının siteleridir. Böylece kişiye güven sağlanarak siteye istenen bilgileri vermesi hedeflenir. Mail adresine ya da telefona gönderilen linklerle sahte sitelere yönlendirme yapan hackerlar bunun için gönderdikleri içeriği kişiyi cezbedecek avantajlarla doldurur. “Anında düşük faizli kredi” ya da “kart aidatı iadesini hemen alın” tarzında cezbedici ifadelerle kart bilgilerinizi alıp kartınızdan harcamalar yaparlar.

                Man in The Middle denilen yöntemde bilgisayarınızın bağlı olduğu modem hacklenerek bilgisayarınızda yaptığınız işlemler izlenir. Bu tarz işlemler genelde halka açık kullanılabilen modemler hacklenerek yapılır. Böylece internete bağlanan kişinin yaptığı tüm işlemler hacker tarafından da görülür. Hacker banka şifresi benzeri kullanabileceği bir şeye ulaştığı anda bunu kullanarak amacına ulaşır.
            </p>
         
        </div>
    </section>

</div>

