
@{
    ViewData["Title"] = "Yapay Zekanın (Ai) İnternet Güvenliğinde Kullanımı";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Main -->
<div id="main" class="alt">

    <!-- One -->
    <section id="one">
        <div class="inner">
            <header class="major">
                <h3>Yapay Zekanın (Ai) İnternet Güvenliğinde Kullanımı</h3>
            </header>
            <span class="image main">
                <img src="~/images/blog5.png" />
            </span>
            
            <p>
                Makine öğrenimi, kuruluşların karşılaştığı güvenlik tehditlerini anlamaya ve personelinizin daha değerli, stratejik görevlere odaklanmasına yardımcı olacaktır.

                En basit düzeyde, makine öğrenimi "bilgisayarlar için programlanmadan öğrenilebilme olanağı" olarak tanımlanır. Büyük veri kümelerinde matematiksel teknikleri kullanarak makine öğrenme algoritmaları esas olarak davranış modelleri oluşturur ve bu modelleri gelecekte bir temel olarak kullanır.

                Örneğin; Netflix, önceki görüntüleme geçmişinize dayanarak yeni TV dizisi sunma özelliğiyle ya da yol koşullarını öğrenen ve kendinden araba kullanan otomobil.
            </p>
            <br />
            <b>
                Peki, bilgi güvenliği alanındaki makine öğrenme uygulamaları nelerdir?
            </b>
            <br />
            <p>
                lke olarak, makine öğrenme, işletmelerin tehditleri daha iyi analiz etmesine, saldırılara ve güvenlik olaylarına tepki vermelerine yardımcı olabilir. Ayrıca daha önce güvenlik ekipleri tarafından gerçekleştirilen görevlerin otomatikleştirilmesine yardımcı olabilir.

                ABI Research'teki analistler, siber güvenlikteki makine öğreniminin, 2021 yılına kadar büyük verilere, yapay zekaya (AI) ve analitik harcamaları 96 milyar dolara çıkaracağını ve dünyanın önde gelen bazı teknoloji devlerinin kendi müşterilerini daha iyi korumak için bir adım attıklarını tahmin ediyorlar.
            </p>
            <br />
            <b>
                Peki Siber Güvenlikte makine öğrenmesinin en iyi kullanım durumları nelerdir?<br />

                1-Kötü amaçlı faaliyeti tespit etmek ve saldırıları durdurmak için makine öğrenimini kullanma
            </b>
            <br />
            <p>
                Makine öğrenme algoritmaları, işletmelerin kötü niyetli etkinlikleri daha hızlı tespit etmelerine ve saldırıları başlamadan durdurmalarına yardımcı olur.
            </p>
            <b>
                2-Mobil ağları analiz etmek için makine öğrenimini kullanma
            </b>
            <br />
            <p>
                Makine öğrenimi zaten mobil cihazlarda ana akım haline geliyor, ancak şu ana kadar bu etkinliklerin çoğu, Google Asıllı, Apple'ın Siri ve Amazon'un Alexa'sı gibi gelişmiş ses tabanlı deneyimlerin kullanılması içindi. Ancak yine de güvenlik için bir başvuru noktası mevcut. Yukarıda belirtildiği gibi, Google, mobil ağlara karşı tehditleri analiz etmek için makine öğrenmeyi kullanırken, giderek artan sayıdaki kurumsal firmalara kendi mobil cihazlarınızı koruma ihtiyacı görüyor.
            </p>
            <br />
            <b>3-İnsan analizini geliştirmek için makine öğrenimini kullanma</b>
            <p>

                Güvenilirlikte makine öğrenmenin merkezinde, insan analistlerine işin tüm yönleriyle, kötü niyetli saldırı tespit etme, ağ analizi, uç nokta koruması ve güvenlik açığı değerlendirmesi dahil olmak üzere yardımcı olduğu inancı var.

                Örneğin, 2016 yılında MIT'nin Bilgisayar Bilimi ve Yapay Zeka Laboratuarı (CSAIL), analizcilerin samanlıktaki iğneleri bulmalarına yardımcı olan uyarlanabilir bir makine öğrenme güvenlik platformu olan AI 2 adlı bir sistem geliştirdi. Sistem, her gün milyonlarca oturum açma işlemini gözden geçirerek verileri filtreledi ve analistlere iletti. Böylece güvenlik uyarıları günde yaklaşık 100'e kadar düşürdü.
            </p>
            <br />
            <b>
                4-Yinelenen güvenlik görevlerini otomatikleştirmek için makine öğrenimini kullanma
            </b><br />
                <p>
                    Makine öğrenmesinin gerçek yararı, personelin daha önemli işlere odaklanmasını sağlayarak tekrar eden görevleri otomatikleştirebilmesidir.

                </p><br />
                    <b>
                        5-Makine öğrenmeyi ZERO DAY güvenlik açıklarını kapatmak için kullanma
                    </b>
            <br />
            <p>

                Bazıları makine öğrenmesinin yakın güvenlik açıklarını, özellikle ZERO DAY tehditleri ve büyük ölçüde güvenli olmayan IOT cihazlarını hedef alan diğer kişilere yardımcı olabileceğini düşünüyorlar. Bu alandaki proaktif çalışmalar var: Arizona Devlet Üniversitesi'nden bir ekip, Forbes'e göre, ZERO DAY istismarlarıyla ilgili verileri belirlemek için DARK WEB üzerindeki trafiği izlemek için makine öğrenmeyi kullandı.
            </p>
        </div>
    </section>

</div>
