
@{
    ViewData["Title"] = "Makine Öğrenmesi (Machine Learning) Nedir?";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Main -->
<div id="main" class="alt">

    <!-- One -->
    <section id="one">
        <div class="inner">
            <header class="major">
                <h3>Makine Öğrenmesi (Machine Learning) Nedir?</h3>
            </header>
            <span class="image main">
                <img src="~/images/blog3.jpg" />
            </span>
            <p>Evdeki herkesin Netflix’te farklı ana sayfaya sahip olmasının arkasında, önerilen programların doğrudan tercihlerimizle örtüşmesini sağlayan bir teknoloji ve bu teknolojinin arkasında da Makine Öğrenmesi Nedir? sorusunun yanıtı yer alıyor.</p>
            <p>Verilere erişebilen ve beklenen görevleri; tahminler ve tespitler yoluyla otomatik olarak gerçekleştirebilen bilgisayar programlarının geliştirilmesi üzerinde çalışan bu teknoloji; bilgisayar sistemlerinin deneyimlerden öğrenmesine ve geliştirilmesine odaklanıyor.</p>
            <p>Makine öğrenimi de denen makine öğrenmesi uygulamaları, doğrudan programlama olmadan tıpkı insanların yaptığı gibi deneyim yoluyla öğrenir. Algoritmaya sağlanan eğitim verilerine bağlı olarak bir makine öğrenimi yazılımı; verileri algılayabilir, tahminler yapabilir ve nasıl iyileştirilebileceğini öğrenerek görevleri otomatik olarak tamamlamayabilir.</p>
            <p>Siri, Google Assistant ve Alexa gibi dijital asistanların da hayatımıza girmesini sağlayan makine öğrenmesi ilk kez terim olarak 1959’da IBM araştırmacısı Arthur Samuel tarafından kullanılmış. Çalışmaları ancak 1966’da IBM’den emekli olduktan sonra geniş çapta kabul gören Samuel’e her bir insan teşekkür borçlu çünkü son zamanlarda inanılmaz derecede önemli hale gelen makine öğrenmesi; karmaşık sorunları ölçeklenebilir bir şekilde çözebilen büyük bir deha.</p>
            <p>Artık doktorlar doğru teşhis ve tedavi için makine öğrenimini kullanıyor, perakendeciler doğru ürünü doğru zamanda doğru mağazalara ulaştırmak için makine öğrenimini kullanıyor ve araştırmacılar bu teknolojiyle daha etkili yeni ilaçlar geliştirmeye çalışıyor. Çarpıcı örneklere yazımızın ilerleyen bölümlerinde yer verdik ama önce makine öğrenmesinin bunları nasıl başardığını açıklayalım:</p>
            <br />

            <b>Makine Öğrenmesi Nasıl Çalışır?</b>
            <span class="image main">
                <img src="~/images/blog3.1.jpg" />
            </span>

            <p>
                Makine öğrenmesi algoritmaları, makinelerin öğrenmesine izin vererek onları daha akıllı hale getiren beyinler olarak tanımlanabilir. Bu algoritmaların düzenli olarak yeni verilere ve deneyimlere maruz bırakılması; sınıflandırma, tahmine dayalı modelleme ve verilerin analiziyle ilgili çeşitli görevler konusunda büyük işler başarılmasına olanak tanır.
                Öğrenme süreci, verilerdeki kalıpları aramak için örnekler, doğrudan deneyim, talimatlar, gözlemler gibi eğitim verilerinin seçilen algoritmaya girilmesiyle başlar. Bu algoritmanın doğru çalışıp çalışmadığını test etmek için, yeni girdi verileri makine öğrenimi algoritmasına eklenir. Tahmin ve sonuçlar daha sonra kontrol edilir.
            </p>
            <br />
            <p>
                Makinenin daha fazla veriyle beslenmesi, “öğrenmesine” neden olan algoritmaların etkinleştirilmesi ve elde edilen sonuçların iyileştirilmesi demektir.

                Tahmin beklendiği gibi değilse, algoritma, istenen çıktı bulunana kadar birçok kez yeniden eğitilir. Bu, makine öğrenimi algoritmasının sürekli olarak kendi başına öğrenmesini ve zaman içinde doğruluğu kademeli olarak artacak en uygun cevabı üretmesini sağlar.

                Algoritma öğrenme aşamasını geçtikten sonra, edindiği bilgileri farklı veri kümelerine dayalı benzer problemleri çözmek için kullanabilir.
            </p>
        </div>
    </section>

</div>

