
@{
    ViewData["Title"] = "Alan Adı (Domain) Belirlerken Nelere Dikkat Edilmesi Gerekir?";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Main -->
<div id="main" class="alt">

    <!-- One -->
    <section id="one">
        <div class="inner">
            <header class="major">
                <h3>Alan Adı (Domain) Belirlerken Nelere Dikkat Edilmesi Gerekir?</h3>
            </header>
            <span class="image main">
                <img src="~/images/blog1.jpg" />
            </span>
            <p>Bir web sitesinin internet ortamında yayına alınabilmesi için ilk olarak yapılacak iş domain kaydetmektir. Domain (Alan Adı) web sitenizin internet ortamındaki adresidir. Domain’ler (Alan Adları), teknik olarak bir IP adresinden oluşur. Her domain’in karşılığı olan en az bir IP adresi vardır. Domain sorgulama ve kayıt işlemleri, ICANN (The Internet Corporation for Assigned Names and Numbers - İnternet Tahsisli Sayılar ve İsimler Kurumu) tarafından yetkilendirilen domain kayıt firmaları tarafından gerçekleşir. ICANN, domain sektöründe düzenleme ve denetleme yetkisi bulunan, en üst kuruluştur.</p>
            <p>Şirket veya markanız için alan adı (domain) seçimi elektronik ortamda başarılı olmanızdaki en önemli etkenlerden biridir. Hedef kitleyi tam olarak ifade eden, kısa, akılda kalıcı ve SEO değeri olan bir alan adı (domain) seçmek, hedef kitleye ulaşmanızı kolaylaştıracağı gibi marka algısını da güçlendirmektedir.</p>
            <p>Peki alan Adı (domain) belirlrken dikkat edilmesi gerekenler;</p>
            <b>1- Kurumsal Marka Algısı Oluşturan Alan Adı (Domain) Seçin</b>
            <p>Projenizi değerli kılacak, hedef kitlenizin ilgisini çekecek bir domain ile marka algısı oluşturabilir, sitenize olan ilgiyi arttırabilirsiniz. Alan adı uzantısının .com ve .net olması sadece yeterli değildir, iyi bir araştırma ile projenizi tam olarak ifade edebilecek, güçlü domainler kaydetmeniz oldukça önemli.</p>
            <br />
            <b>2- Akılda Kalıcı, Telefuzu Kolay ve Kısa Domain Seçin</b>
            <p>Alan Adı (domain) seçerken hedef kitlenizin kolay anlayabileceği ve akılda kalıcı domainler kaydetmeye çalışın. Google’ın kısa alan adlarına daha fazla önem verdiğiniz düşünürsek, sitenizin organik arama sonuçlarında yükselmesini ve trafiğinin artmasını sağlamak için çok fazla karakter içermeyen, kısa domainleri tercih etmeniz son derece önemli.</p>
            <br />
           
            <b>3- Alan Adı (Domain) Seçiminde Tire Kullanmayın</b>
            <p>Özgün ve akılda kalıcı olmak umuduyla dikkat çekici ama istediğiniz isim başkası tarafından alınmış olduğu için içinde tire işareti olan bir domain adı almayı düşünebilirsiniz. İçinde tire olan domain adlarının çirkin göründüğü, kopya izlenimi verdiği (ozkardesler, haskardesler vb. :)) ve itibar oluşturma anlamında yetersiz kaldığı. Tire kullanmanın diğer bir dezavantajı da özgün olmaması. Mesela birisi zaten OrnekDomain.com adresini almışsa, sizin Ornek-Domain.com adını almanızın pek bir manası olmayacağı gibi, isminizi hatırlayıp arama çubuğuna yazan kişiler çoğu zaman araya tire koymayı unutacaktır. Bunun sonucunda da sizinle hiçbir ilgisi olmayan başka bir siteye gideceklerdir.</p>
            <br />
           
            <b>4- Hedef Kitleye Özgü Domain Uzantısı Belirleyin</b>
            <p>Aradığınız nitelikte alan adını .COM ve .NET gibi uzantılarda bulamıyorsanız eğer, yeni domain uzantılarını (.co,.tv,.xyz vb.) veya .com.tr (bazı belgeler istenmektedir.) kullanabilirsiniz. Bir e-ticaret sitesi açmak istiyorsanız .STORE, eğer blog sitesi açmak istiyorsanız .BLOG uzantılı domainleri tercih edebilirsiniz. Bu gibi pek çok yeni domain uzantısı ile web projenizi en net ve akılda kalıcı şekilde ifade edecek domainler kaydedebilirsiniz.</p>
            <br />
            
            <b>5-İlerisi İçin ve Marka Olabilecek Bir İsim Bulmaya Çalışın!</b>
            <p>Google markalara her şeyden fazla önem verir. Bunu kendileri için iyi bir şöhret ve marka tesis etmiş bloglara ve sitelere önem etmesinden de anlayabilirsiniz. Bir marka olarak öne çıkan bir isme sahip olmak uzun vadede çok işinize yarayabilir. Elbette arama motoru sonuç sayfalarında üst sıralarda yer almak için iyi bir URL’den fazlasına ihtiyaç vardır ama dikkat çekici bir alan adına sahip olmak da insanların sizi ve markanızı tanımasını kolaylaştıracaktır.</p>

        </div>
    </section>

</div>

