
@{
    ViewData["Title"] = "Giyilebilir teknoloji nedir, nasıl kullanılır?";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main" class="alt">

    <!-- One -->
    <section id="one">
        <div class="inner">
            <header class="major">
                <h3>Giyilebilir teknoloji nedir, nasıl kullanılır?</h3>
            </header>
            <span class="image main">
                <img src="~/images/gelismeler2.2.png" />
            </span>
            <b>Giyilebilir teknoloji, yeni teknolojik gelişmelerin bir getirisidir. Giyilebilir teknoloji, insanlar tarafından giyilebilen teknolojik aletlerin genel adıdır. Bu teknolojide, cihazlar vücut hareketlerini izleyen akıllı sensörlerle yüklüdür. Akıllı saat, akıllı gözlük, vücut sensörleri, elektronik giyim eşyaları, mücevher ve kişisel video kayıt cihazları giyilebilir teknoloji ürünleri arasında yer alır. İşte, giyilebilir teknoloji hakkında detaylı bilgiler</b>
            <br />
            <p>Giyilebilir Teknoloji, kullanıcıların her zaman yanlarında bulunur. Bu teknoloji ürünleri; sağlık hizmetleri, konum takibi, spor performansını izleme, daha düzenli olma, formda ve aktif kalmak, kilo vermek, etkinlik izleme için kullanılır ve eğlence, eğitim, sağlık, iş, bilgi alma, sosyalleşme, güvenlik gibi alanlarda hizmetler sunar.</p>
            <span class="image main">

                <img src="~/images/gelismeler2.jpg" />
            </span>
            <p>Giyilebilir teknoloji ürünleri genellikle, Wi-Fi, Bluetooth ve mobil internet bağlantısı yoluyla kablosuz olarak akıllı telefonla senkronize olur. Kullanıcılar giyilebilir cihazlara sensörler yardımıyla bağlanır. Elektronik, yazılım. sensörler ve bağlantı gibi "nesneler", nesnelerin internet üzerinden veri alışverişini (veri katitesi dahil) sağlayan faktörler olduğundan, etkinlik izleyicileri gibi giyilebilir cihazlar nesnelerin internetine bir örnektir. İnsan müdahalesi gerektirmeden üretici, operatör ve/veya diğer bağlı cihazlardır.</p>
</div>
    </section>

</div>
