
@{
    ViewData["Title"] = "Türkiye'nin yazılım ekosistemi güçleniyor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main" class="alt">

    <!-- One -->
    <section id="one">
        <div class="inner">
            <header class="major">
                <h3>Türkiye'nin yazılım ekosistemi güçleniyor</h3>

                <p>
                    <b>Sanayi ve Teknoloji Bakanı Mustafa Varank, yazılımcı sayısını mutlaka artırmak gerektiğini belirterek,"Çünkü ileride mesleklerin </b>
                <br />
                <b> dönüşümüyle beraber açık çok daha fazla hale gelecek. Türkiye de yazılımcı sayısını artırmak için yeni programları</b>
                <br />
                   <b> bire bir devreye sokuyor." dedi.</b></p>
                    <br />
</header>
            <span class="image main">
                <img src="~/images/gelismeler1.jpg" />
            </span>
            <p>AA- TEKNOFEST 2021, "Milli Teknoloji Hamlesi" ruhunu bu yıl da tüm katılımcılara yaşattı. Cumhurbaşkanlığı Dijital Dönüşüm Ofisi, Türkiye'nin ilk siber lisesi, Teknopark İstanbul Mesleki ve Teknik Anadolu Lisesi öğrencilerine siber güvenlik eğitimleri düzenledi. 5 gün süren eğitimde her gün alanında uzman eğitmenler farklı konularda geleceğin siber kahramanlarına eğitimler verdi. HackIstanbul finalinin ardından mini bir "Bayrağı Yakala Yarışı" (CTF) de öğrenciler için düzenlendi. 5 günlük eğitimin sonunda öğrencilere yapılan mini CTF'de öğrenciler ödüllerini Bakan Varank ile Cumhurbaşkanlığı Dijital Dönüşüm Ofisi Başkanı Ali Taha Koç'tan aldı. Varank ile Koç, "HackIstanbul"un "Mükafat Avcılığı (Bug Bounty)" formatında gerçekleştirilen final turu yarışmacılarıyla da bir araya geldi. Lise öğrencilerinden, yüksek lisansını tamamlamış kişilere kadar geniş eğitim düzeyi yelpazesindeki katılımcılarla sohbet eden Varank, daha sonra "HackIstanbul" ve TEKNOFEST'e ilişkin değerlendirmede bulundu.</p>
            <br />
            <b>"BU İŞLERE YATIRIM YAPMAK ÇOK ÖNEMLİ"</b>
            <br />
            <p>Varank, HackIstanbul'un Cumhurbaşkanlığı Dijital Dönüşüm Ofisinin düzenlediği vizyoner bir yarışma olduğunu vurgulayarak, uluslararası yarışmada farklı senaryolarda takımlar ya da bireysel yarışmacıların açıkları bulmaya ve ödüller kazanmaya çalıştıklarını anlattı. 4 yıldır düzenlenen yarışmanın her sene üzerine koyarak ilerlemeye devam ettiğini dile getiren Varank, "Gerçekten bu tip işlere yatırım yapmak çok önemli. Özellikle siber güvenlik alanında devasa firmaların bile bulamadığı hataları, bu işten anlayan uzmanlar kolaylıkla bulabiliyor. Dolayısıyla bu tip yarışmalarla biz hem farkındalık oluşturmak istiyoruz hem de gerçek manada sektörde çalışan insanlarla irtibat kurmak, bir network oluşturmak onlardan da haberdar olmak istiyoruz." diye konuştu.</p>
            <br />
            <b> "ÖĞRENCİLERİMİZİN YETKİNLİKLERİNİ GELİŞTİRMİŞ OLMALARI MUTLU EDİYOR"</b>
            <br />
            <p>Varank, siber güvenlik lisesinde okuyan öğrencilerle de bir araya geldiğini belirterek, şunları kaydetti: "Bu Türkiye'de yeni uygulanmaya başlamış bir meslek lisesi programı. Siber güvenlik uzmanlarını daha lise seviyesindeyken yetiştirmeye çalışan Milli Eğitim Bakanlığımızın başlattığı Teknopark İstanbul'un büyük bir destek verdiği proje. Geçmişinde biraz kod yazma olan bilgisayar bilimlerinde master yapmış biri olarak diyebilirim ki lise öğrencilerimizin daha birinci sınıftayken bu kadar kabiliyetlere sahip olması, yetkinliklerini bu kadar geliştirmiş olmaları insanı mutlu ediyor."</p>
            <p>Varank, TEKNOFEST'i uluslararası marka yapma çalışmaları kapsamında HackIstanbul'u da siber güvenlik alanında çalışan büyük ve meşhur hackerları da cezbedebilecekleri bir yarışma haline getirmek istediklerini bildirdi. Yazılımın artık dünyanın vazgeçilmez bir alanı olduğuna işaret eden Varank, şu ifadeleri kullandı: "Üretim de dahil olmak üzere her sektörde artık yazılımın girmediği bir alan yok. Biz son dönemde ülkemizdeki yazılımcı sayısını geliştirmeye dönük yeni yeni programlar devreye sokuyoruz. Ecole 42 isminde yeni bir yazılımcı okulu açtık. Burada tamamen birbirinden öğrenme metoduyla öğrenciler takımlar kurarak hiçbir öğretmen olmadan kendilerini yazılımcı olarak yetiştiriyorlar. TEKNOFEST kapsamında Google, Girişimcilik Vakfı ve T3 Vakfı yine Cumhurbaşkanlığı Dijital Dönüşüm Ofisi ve Bakanlığımız ortaklığında yeni bir online Yazılım ve oyun geliştirme okuluna imza attık. Burada senede 2 bin gencimiz 400 saate varan eğitim alacaklar."</p>

            <span class="image main">
                <img src="~/images/gelismeler1.1.jpg" />
            </span>
            <br />
            <b>"İLGİDEN MEMNUNUZ"</b>
            <p>Varank, yazılımcı sayısını mutlaka artırmak gerektiğine dikkati çekerek, "Çünkü ileride mesleklerin dönüşümüyle beraber açık çok daha fazla hale gelecek. Türkiye de bu manada yazılımcı sayısını artırmak için yeni programları birebir devreye sokuyor." dedi. TEKNOFEST’i uluslararası marka haline getirmek istediklerini ifade eden Varank, dünyada bir fikri olan, teknoloji geliştiren, yeni bir girişim kuran herhangi bir gencin ilk olarak TEKNOFEST'i düşünmesini istediklerini vurguladı. Varank, bunun yolunun da uluslararası networkü genişletmekten geçtiğini belirterek, şunları söyledi: "Bu sene çok daha fazla uluslararası takım yarışmalarımıza katıldı. Endonezya, Pakistan, Polonya, Azerbaycan’dan takımlar farklı teknoloji yarışmalarında gelip ter döktüler. TEKNOFEST'i ne kadar uluslararası hale getirebilirsek o kadar başarılı olabileceğimize inanıyoruz. Bu seneki ilgiden memnunuz, inşallah TEKNOFEST'in farklı organizasyonlarını farklı ülkelerde de yapacağız."</p>
            <br />
            <b>"BU ÖZGÜVEN HER ŞEYE DEĞER"</b>
            <p>Bu yıl festivalde birçok yenilik ve ilkin yer aldığını anımsatan Varank, "İnsansız hava araçlarıyla insanlı uçakların beraberce gösteri yaptıklarını gördük ki bu dünyada ilk defa olan bir şey." diye konuştu. Varank, TEKNOFEST’te yeniliklerin bitmeyeceğini vurgulayarak, festivalle Türkiye’de bilim, teknoloji, uzay ve havacılık ateşini yaygınlaştıracaklarını dile getirdi. Gençlerin özgüveninin kendisini bu sene daha fazla etkilediğini belirten Varank şunlara vurgu yaptı: "İnsansız su altı sistemlerinde Cağaloğlu Anadolu Lisesi öyle algoritmalar yazmışlar ki insan hayret ediyor. Beni etkileyen bir hadise yaşadım. Biyoteknoloji ve İnovasyon etkinliğinde bir gencimiz elimden tuttu; ‘Sayın bakanım lütfen gelin size projemizi göstereceğim.’ dedi, projesini gösterdi. Bir lise öğrencisiydi Kütahya’dan katılıyor, dedi ki: 'Şu gördüğünüz proje bundan 15 sene sonra Türkiye'nin uzay istasyonunda oksijen üretecek biyoteknoloji tabanlı projedir. Benim adımı unutmayın benim adım Enes bundan 15 sene sonra bunu başardığımızı göreceksiniz.' Bu özgüven gerçekten her şeye değer. Bu özgüvene sahip gençlerimiz her şeyi başarır. Bizim zamanımızda böyle bir özgüvenimiz de böyle bir imkanımız da yoktu. Biz her şeyi onlar için yapıyoruz. İnşallah Türkiye'nin geleceğini çok parlak görüyoruz. Türkiye’yi teslim edeceğimiz güzel gençlerimizin olduğunu bu yarışmalarda bizatihi yaşıyoruz."</p>
            <br />
            <b>"EĞİTİM ALAN ÖĞRENCİLER GELECEKTE SİBER VATANI KORUYACAK"</b> <br />
            <p>
                Cumhurbaşkanlığı Dijital Dönüşüm Ofisi Başkanı Koç da öğrencilerin almış olduğu eğitimlerin çok önemli olduğunu, eğitim alan öğrencilerin gelecekte siber vatanı koruyacağını vurguladı. Koç, TEKNOFEST kapsamında öğrencilere 5 gün boyunca alanında uzman siber güvenlik eğitmenleri tarafından eğitimler verildiğini, amaçlarının siber güvenlik alanında gençleri en iyi şekilde yetiştirmek olduğunu ifade ederek, Türkiye’nin ilk siber lisesinin gelecekte dijital varlıkları koruyacak siber kahramanlar yetiştirdiğini dile getirdi.
                <br />
                <b> ZİYARETÇİLERDEN YOĞUN İLGİ</b><br />
            <p>Bakan Varank, daha sonra, TEKNOFEST Yönetim Kurulu Başkanı Selçuk Bayraktar ve ziyaretçilerle birlikte festival alanında bulunan ve yerli imkanlarla üretilen sıcak hava balonunu deneyimledi. TÜBİTAK’ın standına da ziyarette bulunan Varank, çocuklarla birlikte Bilişim ve Bilgi Güvenliği İleri Teknolojiler Araştırma Merkezi (BİLGEM) tarafından geliştirilen Katlanabilir Mayın Dedektörü OZAN ile kum havuzunda metal arama etkinliğine katıldı. Varank, festival alanında ziyaretçilerle fotoğraf da çektirdi.</p>
        </div>
    </section>

</div>