
@{
    ViewData["Title"] = "App Clips, web siteleri ile entegre bir şekilde çalışabilecek";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main" class="alt">

    <!-- One -->
    <section id="one">
        <div class="inner">
            <header class="major">
                <h3>App Clips, web siteleri ile entegre bir şekilde çalışabilecek</h3>
            </header>
            <span class="image main">
                <img src="~/images/gelismeler5.png" />
            </span>
            <p>Gelen özellik ile birlikte geliştiriciler, App Clips içeriklerini Apple'ın internet tarayıcısı olan Safari'de tam ekran bir kart olarak görünecek şekilde web sitelerine entegre edebilecek.</p>
            <br />
            <p>Geçtiğimiz yılın Haziran ayında iOS 14 ile birlikte tanıtılan özelliklerden biri olan App Clips, daha yetenekli bir hale geliyor. Hatırlatmak gerekirse App Clips, uygulamaları indirmeden hızlı bir şekilde uygulamalara erişmenize odaklanan bir sistem olarak çalışıyor.</p>
            <br />
            <p>Edindiğimiz bilgilere göre App Clips, geçtiğimiz ay tanıtılan iOS 15 işletim sistemi ile birlikte sessiz sedasız yeni bir özellik kazandı. Apple Keynote içinde yer almayan yeni özellik WWDC 2021 oturumları ile görücüye çıkarıldı.</p>
            <p>Gelen özellik ile birlikte geliştiriciler, App Clips'leri Apple'ın internet tarayıcısı olan Safari'de tam ekran bir kart olarak görünecek şekilde web sitelerine entegre edebilecek. Kısacası App Clips, hem iOS 15 hem de iPadOS 15 işletim sistemlerinde web siteleri ile birlikte entegre bir şekilde çalışabilecek.</p>
            <br />
            <span class="image main">

                <img src="~/images/gelismeler5.1.png" />
            </span>
            <p>Web siteleri ile entegrasyon desteğinin sunulmasından önce geliştiriciler, kullanıcılara o web sitesinde bir App Clips bulunduğunu göstermek için küçük bir banner ekliyorlardı.</p>
            <p>App Clips'in web siteleri entegre bir şekilde çalışması ile birlikte ise söz konusu banner, web sitesini ziyaret ettiğiniz anda tam ekran olarak karşınıza çıkabilecek. Tabii ki bu özelliğin çalışması için geliştiricilerin web sitelerine yeni kodu ekleyerek güncellemeleri gerektiğini de belirtelim.</p>


        </div>
    </section>

</div>

