
@{
    ViewData["Title"] = "GitHub ve OpenAI'dan kendi kodunu oluşturabilen yapay zeka aracı: Copilot";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main" class="alt">

    <!-- One -->
    <section id="one">
        <div class="inner">
            <header class="major">
                <h3> GitHub ve OpenAI'dan kendi kodunu oluşturabilen yapay zeka aracı: Copilot</h3>
            </header>
            <span class="image main">
                <img src="~/images/gelismeler4.jpg" />
            </span>
         <p>Kod parçacıklarını otomatik olarak tamamlayan bir çözüm sunan Copilot, yazılımcının daha önce yazdığı kodu analiz ederek bu kodlarla eşleşen yeni kodlar oluşturabiliyor.</p>
         <br />
         <p>2018 yılında Microsoft tarafından satın alınan dünyanın en popüler kod deposu GitHub ve yapay zeka araştırma şirketi olarak hizmet veren OpenAI, kendi kodunu oluşturabilen yapay zeka destekli bir yazılımı aracını duyurdu. Gücünü yapay zeka teknolojisinden alan Copilot isimli araç, Visual Studio Code'un içinde yer alıyor.</p>
        <br />
        <p>Kod parçacıklarını otomatik olarak tamamlayan bir çözüm sunan Copilot, hem yazılımcının daha önce yazdığı hem de public olarak yazılmış kodları analiz ederek bu kodlarla eşleşen yeni kodlar oluşturabiliyor. Copilot'un web sitesinde yer alan bilgilere yayınlanan teknik önizleme şu an için en iyi Python, JavaScript, TypeScript, Ruby ve Go dilleri ile birlikte çalışıyor.</p>
        <br />
        <p>Copilot, adından da anlaşılabileceği üzere kodlama projelerinizde size yardımcı olabilecek ve gereken durumlarda yazdığınız kodu tamamlayabilecek bir araç olarak hizmet sunuyor. GitHub ve OpenAI tarafından paylaşılan bilgilere göre Copilot aracı, OpenAI Codex, isimli yeni bir yapay zeka algoritması ile birlikte geliştirildi.</p>
        <br />
        <p>Copilot'un yapay zeka desteği sayesinde öğrenme yeteneğine sahip olduğunu da ekleyelim. Kısacası Copilot çözümü, her kod yazdığında daha akıllı ve daha tecrübeli bir hale gelecek.</p>
        <br />
        <p>Söz konusu Copilot projesinin Microsoft'un OpenAI yatırımının ilk meyvesi olduğunu da ekleyelim. Hatırlatmak gerekirse GitHub'ın da sahibi olan Microsoft, 2019 yılının Temmuz ayında OpenAI'a 1 milyar dolar yatırım yapmıştı. Kısacası Copilot projesi Microsoft'un sahibi olduğu GitHub ve yine Microsoft'un yatırımcısı olduğu OpenAI tarafından geliştirildi.</p>
        
        
        </div>
    </section>

</div>

