
@{
    ViewData["Title"] = "gelismeler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="is-preload">
        <section id="banner" class="style2">
            <div class="inner">
                <span class="image">
                    <img src="~/images/banner.jpg" alt="" />
                </span>
                <header class="major">
                    <h1>Teknolojik Gelişmeler</h1>
                </header>
            </div>
        </section>

        <!-- Main -->
        <div id="main">

            <!-- One -->
            <section id="two" class="spotlights">
                <section>
                    <a asp-action="gelismeler1" class="image">
                        <img src="~/images/gelismeler1.jpg" alt="" data-position="center center"/>
                    </a>
                    <div class="content">
                        <div class="inner">
                            <header class="major">
                             <h3>  Türkiye'nin yazılım ekosistemi güçleniyor</h3>
                            </header>
                            <p> Sanayi ve Teknoloji Bakanı Mustafa Varank, yazılımcı sayısını mutlaka artırmak gerektiğini belirterek, "Çünkü ileride mesleklerin dönüşümüyle...</p>
                            <ul class="actions">
                                <li><a asp-action="gelismeler1" class="button">Learn more</a></li>
                            </ul>
                        </div>
                    </div>
                </section>
                <section>
                    <br />
                    <br />
                    <a asp-action="gelismeler2" class="image">
                        <img src="~/images/gelismeler2.1.jpg" alt="" data-position="top center" />
                    </a>
                    <div class="content">
                        <div class="inner">
                            <header class="major">
                                <h3>Giyilebilir teknoloji nedir, nasıl kullanılır?</h3>
                            </header>
                            <p>Giyilebilir teknoloji, yeni teknolojik gelişmelerin bir getirisidir. Giyilebilir teknoloji, insanlar tarafından giyilebilen teknolojik...</p>
                            <ul class="actions">
                                <li><a asp-action="gelismeler2" class="button">Learn more</a></li>
                            </ul>
                        </div>
                    </div>
                </section>
                <section>
                    <a asp-action="gelismeler3" class="image">
                        <img src="~/images/gelismeler3.2.jpg" alt="" data-position="25% 25%"/>
                    </a>
                    <div class="content">
                        <div class="inner">
                            <header class="major">
                                <h3>Metaverse nedir? Neden gelecekte internetin yerini alacak?</h3>
                            </header>
                            <p>Metaverse kavramı çok uzak olmayan bir gelecekte bilim kurgu romanlarından çıkıp hayatımızın bir parçası olacak. Tahmin edilenin çok ötesindeki sınırları olmayan yaratıcı dünyası ve elbette distopik karanlık tarafları ile birlikte...</p>
                        
                            <ul class="actions">
                                <li><a asp-action="gelismeler3" class="button">Learn more</a></li>
                            </ul>
                        </div>
                    </div>
                </section>
                <section>
                    <a asp-action="gelismeler4" class="image">
                        <img src="~/images/gelismeler4.jpg" alt="" data-position="top center"/>
                    </a>
                    <div class="content">
                        <div class="inner">
                            <header class="major">
                                <h3>GitHub ve OpenAI'dan kendi kodunu oluşturabilen yapay zeka aracı: Copilot</h3>
                            </header>
                            <p>Kod parçacıklarını otomatik olarak tamamlayan bir çözüm sunan Copilot, yazılımcının daha önce yazdığı kodu analiz ederek bu kodlarla eşleşen yeni kodlar oluşturabiliyor....</p>
               
                            <ul class="actions">
                                <li><a asp-action="gelismeler4" class="button">Learn more</a></li>
                            </ul>
                        </div>
                    </div>
                </section>
                <section>
                    <a asp-action="gelismeler5" class="image">
                        <img src="~/images/gelismeler5.png" alt="" data-position="top center"  />
                    </a>
                    <div class="content">
                        <div class="inner">
                            <header class="major">
                                <h3>App Clips, web siteleri ile entegre bir şekilde çalışabilecek</h3>
                            </header>
                            <p>Gelen özellik ile birlikte geliştiriciler, App Clips içeriklerini Apple'ın internet tarayıcısı olan Safari'de tam ekran bir kart olarak görünecek şekilde...</p>
                            <ul class="actions">
                                <li><a asp-action="gelismeler5" class="button">Learn more</a></li>
                            </ul>
                        </div>
                    </div>
                </section>
            </section>

            <!-- Three -->
            <section id="three">
                <div class="inner">
                    <ul class="actions">
                        <li><a asp-action="gelismeler" class="button next">Sayfa Başı</a></li>
                    </ul>
               </div>
          </section>
     </div>
</body>
