
@{
    ViewData["Title"] = "Metaverse nedir? Neden gelecekte internetin yerini alacak?";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main" class="alt">

    <!-- One -->
    <section id="one">
        <div class="inner">
            <header class="major">
                <h3>Metaverse nedir? Neden gelecekte internetin yerini alacak?</h3>
            </header>
            <span class="image main">
                <img src="~/images/gelismeler3.2.jpg" />
            </span>
            <p>Metaverse kavramı çok uzak olmayan bir gelecekte bilim kurgu romanlarından çıkıp hayatımızın bir parçası olacak. Tahmin edilenin çok ötesindeki sınırları olmayan yaratıcı dünyası ve elbette distopik karanlık tarafları ile birlikte.</p>
            <br />
            <p>Teknoloji dünyasında son dönemlerin en çok konuşulan konu başlıklarından biri hangisidir? diye sorsak herhalde bu satırları okuyanların büyük çoğunluğu "Metaverse" cevabını verecektir. İşin ilginç yanı Metaverse öylesine kapsayıcı bir terim haline geldi ki AR/VR uygulamalarından, online oyunlara, NFT tabanlı sanat eserlerinden, Merkeziyetsiz Finans (DeFi) çözümlerine yada 5G teknolojisine kadar farklı birçok alanda sıkça anılmaya başlandı.</p>
            <br />
            <p>İlk kez 1992 yılında Snow Crash isimli cyberpunk&bilimkurgu tarzı romanda yer alan ve bir tür sanal gerçeklik evreni olarak tasvir edilen Metaverse, AR/VR uygulamalarının yaygınlaşması ve Ready Player One filminin yarattığı heyecan sonrasında tekrardan gündeme geldi. 2021 yılı itibariyle Facebook’un kurucusu ve CEO’su Mark Zuckerberg’in, önce Facebook’un bir Metaverse şirketi olacağı yönündeki açıklamaları ve ardından da geçtiğimiz hafta bu vizyon değişikliğine yönelik olarak ürünlerin bağlı bulunduğu çatı firma isminin</p> <b>‘’Meta’’ </b><p>olarak değiştirilmesi kararı ile birlikte Metaverse dışında neredeyse bir şey duymaz olduk.</p>
            <br />
            <p>Kısaca özetlemek gerekirse; Metaverse tüm sanal dünyaların (MMO oyunlar, sanal toplantılar vb) ve internet üzerindeki içeriğin, Artırılmış Gerçeklik (AR), Sanal Gerçeklik (VR) ve blockchain teknolojiler kullanılarak birleştirilmesi sonucunda oluşmuş, sanal ve gerçek olanın eş zamanlı deneyimlendirilebildiği bir tür yeni gerçeklik evreni & boyutu diyebiliriz. Metaverse içerisinde sanal & gerçek gibi keskin ayrımlar olmaz, kullanıcılar Metaverse içerisinde var olan tüm içerik ve deneyimlere ister Artırılmış Gerçeklik (AR) ister Sanal Gerçeklik (VR) modu içerisinde her an ve her yerden erişebilirler. Sanal ve gerçek dünyalar o kadar iç içe geçmiş durumdadır ki, kullanıcılar her iki ortamda dijital avatarları yardımıyla eş zamanlı olarak var olabilir, her iki tarafta da yaptıkları eylemler gerçek zamanlı olarak bir diğerini etkileyebilir.</p>
            <br />

            <span class="image main">
                <img src="~/images/gelismeler3.jpg" />
            </span>
            <p>Aslında Metaverse hakkında konuştuğumuz birçok şey şimdilik birer varsayımdan ibaret çünkü Metaverse evrenini tam anlamıyla oluşturabilecek bir teknolojik altyapıya henüz sahip değiliz. Öte yandan Metaverse’ün oluşturan AR / VR teknolojileri, MMO (mass multiplayer online) oyunlar, dijital sanal ikizler (dünyanın 3D taranmış sanal kopyaları), NFT tabanlı sanat eserleri ve blockchain uygulamaları gibi bileşenleri birbirlerinde ayrı olarak bir süredir aktif olarak kullanmaktayız. Bu sebeple tüm bu bileşenler bir araya geldiğinde Metaverse’ün neye benzeyeceği hakkında fikir yürütebiliyoruz.</p>
            <br />
            <p>
                Metaverse’ün inşası üzerine sadece Meta (eski adıyla Facebook) değil aynı zamanda Microsoft, Epic Games, Roblox ve Nvidia gibi teknoloji devleri de uzun bir süredir çalışmalar yürütüyorlar. Örnek olarak Epic Games 2021 yılı başında sadece Metaverse alanındaki çalışmalar için 1 milyar dolara yakın yatırım aldı. Ayrıca geçtiğimiz sene Fortnite içerisinde düzenlenen Travis Scott konserine 12.3 milyon oyuncu anlık olarak katıldı ve geleceğin sanal konser deneyimlerinin ne olacağına dair bir çok kişiye ilham verdi.

            </p> <br />

            <p>Microsoft ise geliştirdiği ‘’Mesh for Teams’’ platformu ile AR/VR, Mixed Reality ve desktop PC kullanıcılarını tek bir sanal ortam altında buluşturmayı ve Microsoft’un ürünlerinin yanısıra oyun, eğlence ve farklı servislerden bir tür Metaverse deneyimi yoluyla yararlanmalarını hedefliyor. Nvidia ise Metaverse alanına yönelik olarak kendi geliştirdiği Nvidia Omniverse platformu ile birbirinden bağımsız uygulama ve işletim sistemlerine gerçek zamanlı bir 3D simülasyon ortamı sağlayarak yüksek kapasiteli görselleştirme hizmeti sunuyor. Bu sayede AR / VR uygulamalarındaki 3D görselleştirmeleri hızlı ve kolay hale gelecek.</p>
            <br />
            <p>Dünyanın en büyük online oyunlarından birisi olan Roblox, kullanıcılar tarafından üretilen ve oynanan oyun içerikleri ile kapalı devre bir Metaverse evrenine dönüştü diyebiliriz. Ayrıca Z jenerasyonuna ulaşmayı hedefleyen Gucci, Nike, Lego gibi global markalar, Roblox içerisinde ticari sanal mağaza deneyimlerini sunmaya başladılar. Büyük teknoloji firmalarının yanı sıra sayısız girişim, Metaverse evreninde kullanıcıların taşıyacağı sanal avatarlar, kostümler ve eşyalar üzerine çalışmalar yürütmekte.</p>
            <br />
            <p>Metaverse’ü oluşturacak teknik altyapı ve içerik hazır olduğunda, kullanıcılar hem fiziksel hem de sanal dünyada eş zamanlı var olacaklar. Yani siz bugün İstiklal caddesi üzerinde yürürken, sizin dijital avatarınız da eğer isterseniz İstiklal caddesinin tamamen 3 boyutlu olarak tasarlanmış (veya kopyalanmış) dijital sanal ikizi içerisinde eş zamanlı olarak hareket edebilecek. Eğer cadde üzerinde yürürken Artırılmış Gerçeklik (AR) gözlüğü takıyor olursanız, aynı mekânın sanal gerçeklik versiyonu içerisinde bulunan tüm 3 boyutlu sanal objeleri, gerçek İstiklal caddesi üzerinde sanki oradaymış gibi AR olarak görebileceksiniz. Aynı Pokemon Go karakterlerini gördüğünüz gibi, tek farkı artık sadece belirli bir oyuna ait karakterleri değil artık internet içerisinde yer alan her şeyi bu şekilde deneyimlemek mümkün olacak. (Metaverse’ün oluşturan sanal ikizleri daha iyi anlamak için ‘’Artırılmış Gerçeklik (AR) uygulamaları şehirlerin 3 boyutlu sanal kopyalarını nasıl oluşturuyor?’’ başlıklı makaleye göz atabilirsiniz.)</p>
            <br />
            <span class="image main">
                <img src="~/images/gelismeler3.1.jpeg" />
            </span>
            <br />
            <p>Günümüzdeki internet deneyimi ile gelecekteki Metaverse’ü karşılaştıracak olursak; mevcut internet bilginin ve verilerin kullanıcılar tarafından karşılıklı olarak paylaşıldığı bir ortamken, Metaverse salt bilginin çok ötesinde tam anlamıyla kapsayıcı 3 boyutlu içeriklerin ve de deneyimin paylaşıldığı bir yer olacak. Çünkü artık web sitelerine veya sosyal ağlara bilgisayarların veya mobil cihazların iki boyutlu ve sınırları olan ekranlar üzerinden ulaşmak yerine, Sanal Gerçeklik (VR) veya Artırılmış Gerçeklik (AR) gözlükleri ile bağlanacağız. 2 boyutlu internet yerini 3 boyutlu kapsayıcı sanal ortamlara bırakacak.</p>
            <br />
            <p>Kullanıcılar dijital avatarlar ile dünyanın herhangi bir yerindeki sanal gerçeklik etkinliğine katılabilecek, etkinlikte sırasında satın aldıkları NFT tabanlı hediyelik eşyaları bulundukları gerçek ortam üzerinde Artırılmış Gerçeklik (AR) modunda görebilecek ve hatta bu sanal eşyaları diğer arkadaşları ile anlık olarak paylaşabilecekler.</p>
            <br />
            <p>Yazının başında belirtildiği gibi henüz Metaverse diyebileceğimiz bir gerçeklik deneyimi mevcut değil, Roblox gibi devasa MMO dünyalarından diğer platformlara veya internet sitelerine kolayca geçiş mümkün değil. Öte yandan özellikle 5G teknolojisinin devreye alınması, AR/ VR donanım ve içeriklerinin yaygınlaşması ve de merkeziyetsiz (peer2peer) teknolojilerinin kullanımının artması ile birlikte, Metaverse kavramı çok uzak olmayan bir gelecekte bilim kurgu romanlarından çıkıp hayatımızın bir parçası olacak. Tahmin edilenin çok ötesindeki sınırları olmayan yaratıcı dünyası ve elbette distopik karanlık tarafları ile birlikte.</p>
        </div>
    </section>

</div>
