@model yenitemplate.Models.GuestResponse
@{
    ViewBag.Title = "Thanks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body class="text-center">
    <div>
        <h1> Thank you! </h1>
      <p>Mesajın için teşekkür ederiz.En kısa mail üzerinen dönüs sağlayacağız.</p>
    </div>
   <p>    <a asp-action="Index"> Anasayfaya </a> dönmek için buraya tıkla.</p>
</body>
