<nav id="menu">
    <ul class="links">
        <li><a asp-action="Index">ANASAYFA </a> </li>
        <li><a asp-action="bizKimiz">BİZ KİMİZ</a></li>
        <li><a asp-action="bloglar">BLOG</a></li> <!--lading.html-->
        <li><a asp-action="gelismeler">TEKNOLOJİK GELİŞMELER</a></li>
        <li><a asp-action="Iletisim">İLETİŞİM</a></li>
    </ul>
    <ul class="actions stacked">
        <li><a href="#one" class="button primary fit">Get Started</a></li>

    </ul>
</nav>
